
.notice {
  margin-bottom: 15px;
  padding: 12px;
  color: $text;
  background-color: $notice;
  border: .1rem solid #9a9a9e;
  border-radius: .5em;
  text-align: center;
}

.notice-guide {
  margin-bottom: 15px;
  padding: 12px;
  color: $text;
  background-color: rgba(33, 34, 40, 1);;
  border: .1rem solid #6968A7;
  border-radius: .5em;
  text-align: center;
  
  @media (prefers-color-scheme: light) {
  color: $light-scheme-text;
  background-color: #F8F8F8;
  border: .1rem solid #d2d2d2;
    }
}

.notice-green {
  margin-bottom: 15px;
  padding: 12px;
  color: $text;
  background-color: $notice-green;
  border: .1rem solid #00c2bb;
  border-radius: .5em;
  text-align: center;
}

.notice-yellow {
  margin-bottom: 15px;
  padding: 12px;
  color: $text;
  background-color: $notice-yellow;
  border: .1rem solid #ad8200;
  border-radius: .5em;
  text-align: center;
}

.notice-orange {
  margin-bottom: 15px;
  padding: 12px;
  color: $text;
  background-color: $notice-orange;
  border: .1rem solid #f56300;
  border-radius: .5em;
  text-align: center;
}
