// Posts and pages

figure {
    margin-right:   0;
    margin-left:    0;
    margin-top:     1.5em;
    margin-bottom:  2em;

    & > :nth-last-child(2) {
        margin-bottom: 0;

        & > :last-child {
            margin-bottom: 0;
        }
    }
    figcaption {
        color: #878787;
        margin-top: 0.4em;
        font-size:  0.8em;
		text-align: center
    }
    &.screenshot {
        margin-left:    0;
        margin-right:   0;
        margin-top:     0;

        figcaption {
            margin-top:     1em;
            margin-right:   2em;
            margin-left:    2em;
        }
    }
    &.attributed-quote {
        margin-left:    0;
        margin-right:   0;

        figcaption {
            margin-top:     0.8em;
            margin-left:    4em;

            p {
                display: inline;
            }
            &::first-letter {
                margin-left: -2.5ex;
            }
        }
    }
}

@media screen and (max-width: 760px)  {
    figure {
        margin-left:    1em;
        margin-right:   1em;
    }
}

@media screen and (max-width: 500px)  {
    figure.screenshot figcaption {
        margin-top: 0;
    }
}

.page,
.post {
  margin-bottom: 1em;

  li + li {
    margin-top: .25rem;
  }
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
  color: $text;

  @media (prefers-color-scheme: light) {
   color: $light-scheme-text;
     }
}

.page-title,
.post-title {
  margin-top: 0;
  margin-bottom: 0;
}

// Meta data line below post title
.post-date {
  display: block;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-variant: all-petite-caps;
  font-size: 125%;
  color: #626162;

  @media (prefers-color-scheme: light) {
   color: #acabaa;
     }
}

.permalink {
  display: block;
  margin-top: -1rem;
  margin-bottom: 1.5rem;
  color: $color;

  @media (prefers-color-scheme: light) {
   color: $light-scheme-color;
     }
}

.source {
  display: block;
  margin-bottom: 1.5rem;
  color: #626162;

  @media (prefers-color-scheme: light) {
   color: #acabaa;
     }
}

.tag-list {

  a:link {
    color: $accent;
    background-color: #1f1f1f;
    display: inline-block;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1.5px solid #626162;
    border-radius: .25em;
    margin-bottom: .7rem;
    margin-right: .1rem;
    font-size: 93%;


    @media (prefers-color-scheme: light) {
     color: $light-scheme-accent;
     background-color: #f1f1f1;
     border: 1.5px solid #acabaa;
       }
}

a:visited {
    color: $accent;
    background-color: #1f1f1f;
    display: inline-block;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1.5px solid #626162;
    border-radius: .25em;
    margin-bottom: .7rem;
    margin-right: .1rem;
    font-size: 93%;

    @media (prefers-color-scheme: light) {
     color: $light-scheme-accent;
     border: 1.5px solid #acabaa;
     background-color: #f1f1f1;
       }
  }
}

  .source {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      margin-top: 2rem;
      font-variant: all-petite-caps;
      font-size: 125%;
  }
