// Color scheme settings for the Reader theme light and dark mode
$color: #919191;
$accent: #df5550;
$light-scheme-color: #919191;
$light-scheme-accent: #df5550;

$bg: #1e1e1e;
$text: #d5d5d5;
$light-scheme-bg: #1e1e1e;
$light-scheme-text: #d5d5d5;

$code-inline: #ffffff;
$code-inline-bg: rgba(33, 34, 40, 1);
$code-block-accent: #df5550;
$code-block-bg: rgba(33, 34, 40, 1);
$code-border: #df5550;

$code-inline-bg-light: #F8F8F8;
$code-block-accent-light: #df5550;
$code-block-bg-light: rgba(49, 50, 59, 1);
$code-border-light: #df5550;

$notice: #323332;
$notice-green: #002d2b;
$notice-yellow: #292006;
$notice-orange: #260E02;

$message-default: #002d2b;
$message-light: #F8F8F8;
$message-black: #282828;
$message-green: #62bb47;
$message-yellow: #fcb827;
$message-orange: #f6821f;
$message-red: #e03940;
$message-purple: #953c96;
$message-blue: #009ddc;

$root-font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$code-font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$root-font-size: 16px;
$root-line-height: 1.75;

$large-breakpoint: 38em;
$large-font-size: 1.25em;
